*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-navbar{
    display: flex;
    justify-content: space-around;
    background-color: none;
}
.icon-container{
    height: 100%;
    width: 10%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    background-color: none;
    padding-right: 6rem;
}
.hero-img{
    width: 50rem;
    height: 32rem;
    border-radius: 1.5rem;
    border: 6px solid #000000;
}
.services-card{
    width: 40%;
}
.servicos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.services-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card{
    border: 3px solid #000000;
    border-radius: 1rem;
}
.produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}